body {
  margin: 0;
  padding: 0;
}
a {
  color: RGB(44, 50, 61);
  text-decoration: none;
}

.name {
  font-style: italic;
}
.div-block {
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  background-color: RGB(240, 240, 240);
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info {
  width: 30%;
  padding-right: 20px;
}
.foto {
  border-radius: 100%;
  width: 20%;
  min-width: 150px;
  margin-right: 150px;
}
.skills {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 10px;
  align-items: start;
  border-left: 1px solid black;
  width: 60%;
}