html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: RGB(44, 50, 61);
  text-decoration: none;
}
.name__text {
  font-style: italic;
}
.main__text h4 {
  font-style: italic;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  background-color: RGB(220, 220, 220);
}
.header__menu {
  display: flex;
  justify-content: end;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
.menu-item {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border-bottom: 1px solid RGBA(220, 220, 220, 0);
  font-size: 24px;
}

.menu-item:hover {
  border-bottom: 1px solid #000;
}
.name {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-bottom: 20px;
  align-items: center;
}
.main__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info {
  width: 30%;
  padding-right: 20px;
  border-left: 1px solid black;
  padding-left: 10px;
}
.photo {
  border-radius: 100%;
  width: 20%;
  min-width: 150px;
  margin-right: 50px;
}
.skills {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-left: 10px;
  align-items: start;
  border-left: 1px solid black;
  width: 60%;
}
.link__project {
  display: inline;
  word-wrap: break-word;
}
.footer {
  margin-top: 30px;
  background-color: RGB(220, 220, 220);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__rs {
  width: 100px;
}
